<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>https://i.imgur.com/FLL3rV4.jpg</string>
	<string>https://i.imgur.com/WWclFV1.jpg</string>
	<string>https://i.imgur.com/qdTqI2s.jpg</string>
	<string>https://i.imgur.com/FK2QHEL.jpg</string>
	<string>https://i.imgur.com/jIpVoIp.jpg</string>
	<string>https://i.imgur.com/AfneXD5.jpg</string>
	<string>https://i.imgur.com/xRts7HD.jpg</string>
	<string>https://i.imgur.com/P115pQF.jpg</string>
	<string>https://i.imgur.com/uMHnaZU.jpg</string>
	<string>https://i.imgur.com/VPtd0VY.jpg</string>
	<string>https://i.imgur.com/nBkRED3.jpg</string>
	<string>https://i.imgur.com/TsRj2hg.jpg</string>
	<string>https://i.imgur.com/qmFX1ei.jpg</string>
	<string>https://i.imgur.com/agyYINx.jpg</string>
	<string>https://i.imgur.com/8wdB0XM.jpg</string>
	<string>https://i.imgur.com/9CckaiW.jpg</string>
</array>
</plist>
